.latest-collections{
    position: relative;
}
.latest-collections img{
    width: 100%;
}
.latest-collections .latest-collection-content{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec3e;
    padding: 0 5%;
}
.latest-collections .latest-collection-content h3{
    color: #000;
    font-weight: 700;
    font-size: 2.5rem;
}
.latest-collections .latest-collection-content h3 span{
    font-weight: 400;
}
.latest-collections .latest-collection-content a{
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    font-weight: 600;
    transition: background-color 0.2s ease;
}
.latest-collections .latest-collection-content a:hover{
    background-color: #1e1e1e;
}