.contact-form{
    padding: 4rem 5% 5rem 5%;
}
.contact-form form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-form form input,
.contact-form form textarea{
    width: 49%;
    margin-bottom: 1.5rem;
    padding: 1.4rem 1rem;
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    background: #f6f6f6;
    border: none;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contact-form form input:focus,
.contact-form form textarea:focus{
    box-shadow: rgba(0, 0, 0, 0.381) 0px 1px 2px 0px, rgba(0, 0, 0, 0.293) 0px 1px 3px 1px;
}
.contact-form form textarea{
    width: 100%;
    min-height: 12rem;
    max-height: 15rem;
}
.contact-form form button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 1.2rem 3rem;
    font-size: 1.1rem;
    font-weight: 550;
    letter-spacing: 2px;
    transition: all 0.2s ease;
}
.contact-form form button:hover{
    background-color: #1e1e1e;
}
.contact-form form button:active{
    scale: 0.95;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-form{
        padding: 3.5rem 5% 4.5rem 5%;
    }

    .contact-form form input,
    .contact-form form textarea{
        margin-bottom: 1.4rem;
        padding: 1.3rem 0.9rem;
        font-size: 1rem;
    }
    .contact-form form textarea{
        min-height: 11rem;
        max-height: 14rem;
    }
    .contact-form form button{
        padding: 1.1rem 2.9rem;
        font-size: 1rem;
        letter-spacing: 1.5px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-form{
        padding: 3rem 5% 4rem 5%;
    }

    .contact-form form input,
    .contact-form form textarea{
        margin-bottom: 1.3rem;
        padding: 1.15rem 0.8rem;
        font-size: 0.9rem;
    }
    .contact-form form textarea{
        min-height: 10rem;
        max-height: 13rem;
    }
    .contact-form form button{
        padding: 1rem 2.8rem;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
}

/* Mobile Screens */
@media screen and (max-width: 767px) {
    .contact-form{
        padding: 1.5rem 1rem 3rem 1rem;
    }

    .contact-form form input,
    .contact-form form textarea{
        margin-bottom: 1rem;
        padding: 1rem 0.8rem;
        font-size: 1rem;
        width: 100%;
    }
    .contact-form form textarea{
        min-height: 8rem;
        max-height: 11rem;
    }
    .contact-form form button{
        padding: 0.9rem 1.5rem;
        font-size: 1rem;
    }
}