.special-products{
    padding: 0 0 4rem 0;
    background: linear-gradient( to bottom, #f7f7f7, #ebebeb);
}
.special-products-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
}
.special-products-head h2{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 550;
    letter-spacing: 3px;
    color: #212121;
    padding: 0 2rem 0.5rem 2rem;
    border-bottom: 3px solid #3f3f3f;
}
.special-products-head p{
    font-size: 1rem;
    text-align: center;
    color: #616161;
    font-style: italic;
    margin-top: 0.5rem;
}
.special-products-slider{
    margin-top: 2rem;
    position: relative;
}
.special-products-slider .swiper-slide{
    position: relative;
    overflow: hidden;
}
.special-products-slider .swiper-slide img{
    width: 100%;
    scale: 1;
    transition: scale 0.5s ease;
}
.special-products-slider .swiper-slide:hover img{
    scale: 1.05;
}
.special-products-slider .swiper-slide .slide-content{
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0000009a;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.special-products-slider .swiper-slide:hover .slide-content{
    opacity: 1;
}
.special-products-slider .slide-content span{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.special-products-slider .slide-content a{
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    font-weight: 600;
    transition: background-color 0.2s ease;
}
.special-products-slider .slide-content a:hover{
    background-color: #1e1e1e;
}

/* Custom Navigation */
.special-products-slider .prev,
.special-products-slider .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 1.7rem;
    color: #fff;
    background: transparent;
    border: none;
    padding: 0.1rem 0.8rem;
}
.special-products-slider .prev:hover,
.special-products-slider .next:hover{
    color: #1e1e1e;
}
.special-products-slider .prev{
    left: 1%;
}
.special-products-slider .next{
    right: 1%;
}

/* Swiper Default Navigation Arrows */
.special-products-slider .swiper-button-prev,
.special-products-slider .swiper-button-next {
    display: none;
}