.enquiry-details{
    padding: 4rem 5% 5rem 5%;
}
.enquiry-details h2{
    font-size: 1.8rem;
    font-weight: 550;
    color: #000;
}
.enquiry-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
    padding: 1.2rem;
}
.enquiry-product .card-image{
    width: 11%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.enquiry-product .card-image img{
    width: 100%;
    scale: 1;
    transition: scale 0.5s ease, opacity 0.3s ease;
}
.enquiry-product:hover img{
    scale: 1.05;
}
.enquiry-product .card-content{
    width: 85%;
}
.enquiry-product .card-content span{
    color: #e6e6e6;
    font-size: 1rem;
    font-weight: 500;
}
.enquiry-product .card-content h3{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.enquiry-form{
    margin-top: 4rem;
}
.enquiry-form form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.enquiry-form form input,
.enquiry-form form textarea{
    width: 49%;
    margin-bottom: 1.5rem;
    padding: 1.4rem 1rem;
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    background: #f6f6f6;
    border: none;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.enquiry-form form input:focus,
.enquiry-form form textarea:focus{
    box-shadow: rgba(0, 0, 0, 0.381) 0px 1px 2px 0px, rgba(0, 0, 0, 0.293) 0px 1px 3px 1px;
}
.enquiry-form form textarea{
    width: 100%;
    min-height: 12rem;
    max-height: 15rem;
}
.enquiry-form form button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 1.2rem 3rem;
    font-size: 1.1rem;
    font-weight: 550;
    letter-spacing: 2px;
    transition: all 0.2s ease;
}
.enquiry-form form button:hover{
    background-color: #1e1e1e;
}
.enquiry-form form button:active{
    scale: 0.95;
}