.products-banner{
    position: relative;
    overflow: hidden;
}
.products-banner img{
    width: 100%;
}
.products-banner .banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #000000b1 30%, #00000000);
}
.products-banner .banner-content h1{
    color: #fff;
    font-weight: 550;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.products-banner .banner-content span{
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: 0.4rem;
}
.products-banner .banner-content span a{
    color: #fff;
    text-decoration: none;
}
.products-banner .banner-content span a:hover{
    text-decoration: underline;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .products-banner .banner-content h1{
        font-size: 2.3rem;
    }
    .products-banner .banner-content span{
        font-size: 0.8rem;
        margin-top: 0.35rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .products-banner .banner-content h1{
        font-size: 2.1rem;
    }
    .products-banner .banner-content span{
        font-size: 0.7rem;
        margin-top: 0.25rem;
    }
}

/* Mobile Screens */
@media screen and (max-width: 767px) {
    .products-banner img{
        height: 130px;
    }
    .products-banner .banner-content h1{
        font-size: 1.4rem;
    }
    .products-banner .banner-content span{
        font-size: 0.8rem;
        margin-top: 0.1rem;
    }
}