.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    border: 2.2px solid #000;
    border-radius: 30px;
    padding: 0 0 0 1rem;
    overflow: hidden;
}
.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0.6rem 1rem 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.search-bar .search-icon{
    color: #000;
    font-size: 1.7rem;
}