.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    border: 2.2px solid #000;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}
.search-bar input{
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 0.7rem 1rem 0.7rem 3.5rem;
    font-size: 1rem;
    font-weight: 500;
}
.search-bar .search-icon{
    color: #000;
    font-size: 1.7rem;
    position: absolute;
    left: 0.9rem;
    transition: all 0.2s ease;
}
.search-bar input:focus-within ~ .search-icon{
    scale: 1.15;
}