.home-banner{
    overflow: hidden;
    position: relative;
}
.home-banner .swiper-slide{
    position: relative;
}
.home-banner .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.home-banner .slide-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: end;
}
.home-banner .slide-3 .slide-content{
    align-items: start;
    text-align: start;
}
.home-banner .slide-content span{
    color: #000;
    font-size: 1.7rem;
    font-weight: 600;
}
.home-banner .slide-content b{
    font-weight: 800;
}
.home-banner .slide-content a{
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
}
.home-banner .slide-content a:hover{
    background-color: #1e1e1e;
}

/* Custom Navigation */
.home-banner .prev,
.home-banner .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 1.7rem;
    color: #000;
    background: transparent;
    border: none;
    padding: 0.1rem 0.8rem;
}
.home-banner .prev:hover,
.home-banner .next:hover{
    color: #1e1e1e;
}
.home-banner .prev{
    left: 1%;
}
.home-banner .next{
    right: 1%;
}

/* Swiper Default Navigation Arrows */
.home-banner .swiper-button-prev,
.home-banner .swiper-button-next {
    display: none;
}

/* Custom Pagination */
.home-banner .swiper-pagination {
    bottom: 25px !important;
    left: 50% !important;
    transform: translateX(-50%);
}
.home-banner .swiper-pagination-bullet{
    background: #000;
    width: 30px;
    height: 2.5px;
    border-radius: 10px;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .home-banner .slide-content{
        padding: 3.5rem 5%;
    }
    .home-banner .slide-content span{
        font-size: 1.6rem;
    }
    .home-banner .slide-content a{
        padding: 0.45rem 1.1rem;
        font-size: 0.9rem;
        margin-top: 0.9rem;
    }

    /* Custom Navigation */
    .home-banner .prev,
    .home-banner .next{
        font-size: 1.5rem;
    }

    /* Custom Pagination */
    .home-banner .swiper-pagination {
        bottom: 20px !important;
    }
    .home-banner .swiper-pagination-bullet{
        width: 26px;
        height: 2px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .home-banner .slide-content{
        padding: 3rem 5%;
    }
    .home-banner .slide-content span{
        font-size: 1.5rem;
    }
    .home-banner .slide-content a{
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
        margin-top: 0.9rem;
    }

    /* Custom Navigation */
    .home-banner .prev,
    .home-banner .next{
        font-size: 1.3rem;
    }

    /* Custom Pagination */
    .home-banner .swiper-pagination {
        bottom: 18px !important;
    }
    .home-banner .swiper-pagination-bullet{
        width: 22px;
        height: 2px;
    }
}

/* Mobile Screens */
@media screen and (max-width: 767px) {
    .home-banner .swiper-slide img{
        height: auto;
    }
    .home-banner .slide-content{
        padding: 1rem 1rem;
    }
    .home-banner .slide-content span{
        font-size: 1.1rem;
    }
    .home-banner .slide-content a{
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
        margin-top: 0.7rem;
    }

    /* Custom Navigation */
    .home-banner .prev,
    .home-banner .next{
        display: none;
    }

    /* Custom Pagination */
    .home-banner .swiper-pagination {
        bottom: 5px !important;
    }
    .home-banner .swiper-pagination-bullet{
        width: 25px;
        height: 2px;
    }
}