.home-banner{
    overflow: hidden;
    position: relative;
}
.home-banner .swiper-slide{
    position: relative;
}
.home-banner .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.home-banner .slide-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: end;
}
.home-banner .slide-3 .slide-content{
    align-items: start;
    text-align: start;
}
.home-banner .slide-content span{
    color: #000;
    font-size: 1.7rem;
    font-weight: 700;
}
.home-banner .slide-content a{
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
}
.home-banner .slide-content a:hover{
    background-color: #1e1e1e;
}

/* Custom Navigation */
.home-banner .prev,
.home-banner .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 1.7rem;
    color: #000;
    background: transparent;
    border: none;
    padding: 0.1rem 0.8rem;
}
.home-banner .prev:hover,
.home-banner .next:hover{
    color: #1e1e1e;
}
.home-banner .prev{
    left: 1.5%;
}
.home-banner .next{
    right: 1.5%;
}

/* Swiper Default Navigation Arrows */
.home-banner .swiper-button-prev,
.home-banner .swiper-button-next {
    display: none;
}

/* Custom Pagination */
.home-banner .swiper-pagination {
    bottom: 25px !important;
    left: 50% !important;
    transform: translateX(-50%);
}
.home-banner .swiper-pagination-bullet{
    background: #000;
    width: 30px;
    height: 2.5px;
    border-radius: 10px;
}