.search-bar-container{
    padding: 4rem 5% 2rem 5%;
    display: flex;
    justify-content: center;
}
.products-container{
    padding: 0 5% 5rem 5%;
}
.products-container .product-container-head h2{
    font-size: 1.7rem;
    font-weight: 500;
    color: #000;
}
.products-container .product-container-body{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products-container .collections{
    width: 20%;
    height: max-content;
    background-color: #e8e8e8;
}
.products-container .collections a{
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
    text-decoration: none;
    padding: 1.1rem 1rem;
    color: #000;
    border-bottom: 1px solid #fff;
    transition: all 0.2s ease;
}
.products-container .collections a:last-child{
    border-bottom: none;
}
.products-container .collections a:hover{
    background-color: #f6f6f6;
}
.products-container .collections a.active{
    background-color: #000;
    color: #fff;
}

.products-container .products-row{
    width: 78%;
}
.products-container .products-cards-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3.5%;
}
.products-container .products-cards-row .product-card{
    width: 31%;
    overflow: hidden;
    margin-bottom: 2.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.products-container .products-cards-row .product-card .card-image{
    background-color: #000;
}
.products-container .products-cards-row .product-card img{
    width: 100%;
    scale: 1;
    transition: scale 0.5s ease;
}
.products-container .products-cards-row .product-card img:hover{
    scale: 1.05;
}
.products-container .products-cards-row .product-card .card-desc{
    padding: 1.2rem 1rem;
    transition: background-color 0.2s ease;
}
.products-container .products-cards-row .product-card:hover .card-desc{
    background-color: #f5f5f5;
}
.products-container .products-cards-row .product-card span{
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
}
.products-container .products-cards-row .product-card a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.35rem 0.9rem;
    margin-top: 0.8rem;
    display: block;
    width: fit-content;
    font-weight: 500;
    border-radius: 4px;
}
.products-container .products-cards-row .product-card a:hover{
    background-color: #1e1e1e;
}