.search-bar-container{
    padding: 4rem 5%;
    display: flex;
    justify-content: center;
}
.products-container{
    padding: 0 5% 5rem 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products-container .filters{
    width: 20%;
}
.products-container .filters span{
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}
.products-container .filter-box{
    background-color: #e8e8e8;
    margin-top: 1.5rem;
    padding: 1rem;
}
.products-container .filter-box span{
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
}
.products-container .filter-box span:first-child{
    margin-top: 0;
}
.products-container .filter-box div{
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.3rem;
}
.products-container .filter-box div:last-child{
    margin-bottom: 0;
}
.products-container .filter-box input{
    width: 15px;
    height: 15px;
    accent-color: #000;
    cursor: pointer;
}
.products-container .filter-box label{
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
}

.products-container .products-row{
    width: 78%;
    background-color: red;
}