.product-gallery{
    padding: 4rem 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery-image{
    width: 45%;
    padding: 3rem;
    aspect-ratio: 1/1;
    background-color: #000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}
.gallery-image img{
    width: 100%;
    scale: 1;
    transition: scale 0.5s ease, opacity 0.3s ease;
}
.gallery-image img:hover{
    scale: 1.05;
}
.gallery-content{
    width: 50%;
    overflow: hidden;
}
.gallery-content span{
    font-size: 1rem;
    font-weight: 550;
    color: #848484;
}
.gallery-content #product-name{
    font-weight: 650;
    font-size: 2.2rem;
    margin-top: 0.5rem;
    display: block;
    color: #000;
}
.gallery-content p{
    font-weight: 500;
    font-size: 1rem;
    margin-top: 2rem;
}
.gallery-content a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.6rem 1.3rem;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: 500;
    border-radius: 4px;
}
.gallery-content a:hover{
    background-color: #1e1e1e;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
}
.gallery-content a .icon{
    font-size: 1rem;
    margin-left: -0.8rem;
    opacity: 0;
    transition: all 0.2s ease;
}
.gallery-content a:hover .icon{
    margin-left: 0.6rem;
    opacity: 1;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .product-gallery{
        padding: 3.7rem 5%;
    }
    .gallery-image{
        padding: 2.8rem;
    }
    .gallery-content span{
        font-size: 0.9rem;
    }
    .gallery-content #product-name{
        font-size: 2rem;
        margin-top: 0.4rem;
    }
    .gallery-content p{
        font-size: 0.9rem;
        margin-top: 1.8rem;
    }
    .gallery-content a{
        font-size: 1rem;
        padding: 0.55rem 1.2rem;
        margin-top: 1.3rem;
    }
    .gallery-content a .icon{
        font-size: 0.9rem;
        margin-left: -0.7rem;
    }
    .gallery-content a:hover .icon{
        margin-left: 0.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .product-gallery{
        padding: 3.4rem 5%;
    }
    .gallery-image{
        padding: 2.6rem;
    }
    .gallery-content span{
        font-size: 0.85rem;
    }
    .gallery-content #product-name{
        font-size: 1.8rem;
        margin-top: 0.35rem;
    }
    .gallery-content p{
        font-size: 0.8rem;
        margin-top: 1.5rem;
    }
    .gallery-content a{
        font-size: 0.9rem;
        padding: 0.5rem 1.2rem;
        margin-top: 1.2rem;
    }
    .gallery-content a .icon{
        font-size: 0.8rem;
        margin-left: -0.6rem;
    }
    .gallery-content a:hover .icon{
        margin-left: 0.5rem;
    }
}